@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        
        <a  asp-area="" asp-controller="PdfViewer" asp-action="Index">Check PDF viewer here</a>


    </p>
    
    
</div>
